* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}
body {
  background-color: #a1a1a1;
  color: #fff;
}
.container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap:0 15px;
  max-width: 1440px;
  margin: auto;
}
a {
  display: block;
  background-color: #204969;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}
a:focus {
  outline: 2px solid #08ffc8;
  border-radius: 8px;
}
.container a {
  display: grid;
  align-items:flex-end;
  color: #fff;
  text-decoration: none;
}
.icon {
  display: block;
  font-size: 50px;
  color: #08ffc8;
}
a{
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.specialty >div{
  z-index: 100;
}
.specialty >div::after{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #85858500;
  transition: .3s;
  z-index: -1;
  background-image: linear-gradient(0deg, black -35%, transparent);
}
.specialty{
  background-position: center;
  background-size: cover;
  margin-top: 15px;
}
.specialty:hover {
  transform: scale(.98);
}
.specialty:hover >div::after{
  background-color: #858585a6;
}
.accounting{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/hero_accounting.jpg?itok=17HHKCUj);
}
.business{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/hero_business-admin.jpg?itok=jY9a31FN);
}
.co-in-te{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/hero_computer-information-tech.jpg?itok=1SNi0zwB);
}
.cr-ju{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/hero_criminal-justice.jpg?itok=bTFGFdKv);
}
.ea-ch-ed{
  background-image:url(https://www.dscc.edu/sites/default/files/styles/544x300/public/hero_early-childhood-education.jpg?itok=qWF2OKo3) ;
}
.em-me-se{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/EMS-HERO_0.JPG?itok=Vs5y94My);
}
.en-sy-te{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/est_hero.jpg?itok=sItqhMHQ);
}
.he-te{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/hero_healthcaretech.png?itok=-dljZ2kX);
  background-size: 136%;
}
.he-in-ma{
  background-image: url(https://www.dscc.edu/sites/default/files/styles/544x300/public/HIM-Hero.jpg?itok=-afyT06V);
}
.specialty h2 {
  font-size: 25px;
  color: #fff;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specialty h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  color: #08ffc8;
  font-weight: 500;
}
.degree-type div {
  font-size: 12px;
  text-align: left;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}
.degree-type div span{
  color: #08ffc8;
  margin-right: 3px;
}
.business {
  grid-column-start: 2;
  grid-column-end: 4;
}
.co-in-te {
  grid-column-start: 1;
  grid-column-end: 3;
}
.em-me-se {
  grid-column-start: 2;
  grid-column-end: 4;
}
@media screen and (max-width: 1180px){
  .container{
    grid-template-columns:repeat(2,1fr);
  }
  .business {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .co-in-te {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .em-me-se {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 800px){
  .icon{
    font-size: 40px;
  }
  .specialty h2{
    font-size: 22px;
  }
  .specialty h3{
    font-size: 18px;
  }
  .degree-type{
    flex-direction: column;
    align-items: flex-start;
  }
  .degree-type div{
    font-size: 10px;
  }
}
@media screen and (max-width: 480px){
  .container{
    grid-template-columns:1fr;
  }
  .business {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .co-in-te {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .em-me-se {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}