* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}
body {
  background-color: #a1a1a1;
  color: #fff;
}
:root{
  --main-color: #08ffc8 ;
}
/* start navbar */
nav{
  background-color: #204969;
  color: #fff;
}
nav .container {
  padding: 15px 10px;
  max-width: 1440px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
nav .logo{
  width: 15%;
}
nav .logo img{
  width: 100%;
}
nav .link{
  width: 80%;
}
nav .link ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav ul a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin: 0 6px;
  padding-bottom: 5px;
  position: relative;
  border: none;
  outline: none;
  font-weight: 500;
}
nav ul a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  height: 2px;
  width: 0%;
  transition: .3s;
}
nav ul a:hover::after{
  width: 100%;
}
nav .fa.fa-bars{
  display: none;
  padding: 10px 15px;
  margin-right: 10px;
  border: solid #ccc 1px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}
nav .fa-times{
  display: none;
  margin-bottom: 30px;
  font-size: 26px;
  color: red;
  cursor: pointer;
}
@media screen and (max-width:1100px){
  nav .fa.fa-bars, nav .fa-times{
    display: block;
  }
  nav ul a::after{
    display: none;
  }
  nav .logo{
    width: 170px;
  }
  nav .menue{
    padding: 20px 20px 40px;
    position: fixed;
    right: -300px;
    top: 0;
    background-color: #fff;
    height: fit-content;
    width:300px ;
    z-index: 1000;
    transition: .5s;
  }
  nav .menue ul{
    display: grid;
    grid-template-columns:1fr ;
    justify-content: start;
  }
  nav .menue ul li{
    width: 100%;
    padding: 10px 0;
    border-bottom:solid #ccc 1px ;
  }
  nav .menue ul li a{
    color: black;
    font-size: 18px;
    margin: 0;
    width: 100%;
    display: block;
    transition: .3s;
  }
  nav .menue ul li a:hover{
    margin-left: 7px;
  }
}
/* end navbar */
/* start main */
main .container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap:0 15px;
  max-width: 1440px;
  margin: auto;
}
main a {
  display: block;
  background-color: #204969;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}
main a:focus {
  outline: 2px solid var(--main-color);
  border-radius: 8px;
}
main .container a {
  display: grid;
  align-items:flex-end;
  color: #fff;
  text-decoration: none;
}
main .icon {
  display: block;
  font-size: 50px;
  color: var(--main-color);
}
main a{
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.specialty >div{
  z-index: 100;
}
.specialty >div::after{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #85858500;
  transition: .3s;
  z-index: -1;
  background-image: linear-gradient(0deg, black -35%, transparent);
}
.specialty{
  background-position: center;
  background-size: cover;
  margin-top: 15px;
}
.specialty:hover {
  transform: scale(.98);
}
.specialty:hover >div::after{
  background-color: #858585a6;
}
.accounting{
  background-image: url(Accounting.jpg);
}
.business{
  background-image: url(Business.jpg);
}
.co-in-te{
  background-image: url(Computer-Information-Technology.jpg);
}
.cr-ju{
  background-image: url(Criminal-Justice.jpg);
}
.ea-ch-ed{
  background-image:url(Early-Childhood-Education.jpg) ;
}
.em-me-se{
  background-image: url(Emergency-Medical-Services.jpg);
}
.en-sy-te{
  background-image: url(Engineering-Systems-Technology.jpg);
}
.he-te{
  background-image: url(Healthcare-Technician.jpg);
  background-size: 136%;
}
.he-in-ma{
  background-image: url(Health-Information-Management.jpg);
}
.specialty h2 {
  font-size: 25px;
  color: #fff;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specialty h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  color: var(--main-color);
  font-weight: 500;
}
.degree-type div {
  font-size: 12px;
  text-align: left;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}
.degree-type div span{
  color: var(--main-color);
  margin-right: 3px;
}
.business {
  grid-column-start: 2;
  grid-column-end: 4;
}
.co-in-te {
  grid-column-start: 1;
  grid-column-end: 3;
}
.em-me-se {
  grid-column-start: 2;
  grid-column-end: 4;
}
@media screen and (max-width: 1180px){
  main .container{
    grid-template-columns:repeat(2,1fr);
  }
  .business {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .co-in-te {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .em-me-se {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 800px){
  .icon{
    font-size: 40px;
  }
  .specialty h2{
    font-size: 22px;
  }
  .specialty h3{
    font-size: 18px;
  }
  .degree-type{
    flex-direction: column;
    align-items: flex-start;
  }
  .degree-type div{
    font-size: 10px;
  }
}
@media screen and (max-width: 480px){
  main .container{
    grid-template-columns:1fr;
  }
  .business {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .co-in-te {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .em-me-se {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
/* end main */